
body {
    background-color: rgba(101, 52, 216, 0.329);
}

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* HEADER */

.header-logo {
    border-radius: 266px;
    float: right;
    width: 96px;
    padding-right: 10px;
}


.nav-list {
    padding-top: 10px;
    margin: 10px;
}

.nav-link {
    font-size: 30px;
    color: rgb(128, 19, 42);
}


.nav-link:hover{
    color: rgb(67, 180, 22);
    transition: all 0.5s;
}

.nav-item {
    display: inline-block;
    margin: 10px;
}


/* MAIN */


main{
    padding-bottom: 20px;
}

.main-title{
    font-size: 50px;
    text-align: center;
    padding-bottom: 10px;
}



/* CAR */

.car-title {
    text-align: center;
    font-size: 40px;
    padding-bottom: 5px;
}

.car-section {
    padding-bottom: 10px;
}

.car-title-history {
    padding-bottom: 5px;
    font-size: 20px;
}

.car-model {
    padding-bottom: 10px;
}

.model-title {
    font-size: 20px;
    padding-bottom: 5px;
}

.car-model-descriptions {
    padding-bottom: 5px;
}


.car-reviews {
    padding-bottom: 10px;
}

.car-title-reviews {
    font-size: 20px;
    padding-bottom: 5px;
}

.car-info-reviews {
    padding-bottom: 5px;
}

.car-author {
     padding-right: 10px;
}

.car-link{
    padding-top: 15px;
}

/* LEXUS */

.article-lexus {
    padding: 30px;
    background-color: rgb(199, 159, 236);
    border-radius: 3%;
    height: 500px;
    width: 100%;
 }
 
 .logo-lexus{
     width: 120px;
 }
 
 .lexus-back-to-menu {
     
     padding: 10px 20px;  
     background-color: rgb(133, 108, 75);
     color: white;  
     font-size: 16px;  
     border-radius: 5px;  
     box-shadow: 0 4px 8px rgba(207, 9, 9, 0.1);  
 }
 
 .lexus-back-to-menu:hover{
     background-color: rgb(184, 48, 131);
     transition: all 1s;
 }
 
 /* TOYOTA */

 .article-toyota{
    padding: 30px;
    height: 500px;
    width: 100%;
    margin-top: 20px;
    background-color: rgb(213, 175, 248);
    border-radius: 3%;
 }

 .logo-toyota{
    width: 30px;
 }

.toyota-back-to-menu {
    padding: 10px 20px;  
    background-color: rgb(158, 158, 158);
    color: white;  
    font-size: 16px;  
    border-radius: 5px;  
    box-shadow: 0 4px 8px rgba(207, 9, 9, 0.1);  
 
}

.toyota-back-to-menu:hover {
    background-color: rgb(46, 44, 172);
    transition: all 1s;
}

/* BMW */

.article-bmw{
    padding: 30px;
    height: 500px;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    background-color: rgb(170, 136, 202);
    border-radius: 3%;
}

.logo-bmw{
    width: 40px;
}

.bmw-back-to-menu {
    padding: 10px 20px;  
    background-color: rgb(158, 100, 25);
    color: white;  
    font-size: 16px;  
    border-radius: 5px;  
    box-shadow: 0 4px 8px rgba(194, 53, 53, 0.1);  
 
}

.bmw-back-to-menu:hover {
    background-color: rgb(21, 48, 18);
    transition: all 1s;
}


/* Table */

.car-table{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

caption{
    padding-top: 10px;
}

table {

    border-spacing: 4px; 
    border: 2px solid teal; 
}

caption {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
}

th, td {
    border: 2px solid teal; 
    padding: 1px; 
    text-align: center;
    white-space: nowrap;
}


td {
    width: 40px;
    height: 20px; /* Робимо їх прямокутними */
}


/* Form */



/* Footer */


footer{
    background-color: #dd9898;
    border-radius: 3%;
    text-align: center;
}

.footer-section {
    display: inline-block;
    margin: 20px;
 
}
